sandbox/*
*.o
*.a
*.d
*.bin
main.exe
*.cache
test.txt

# Binaries
build/*

# Local working copies
assets/wip/*
/wip/*
*.xcf

# profiling
logs/*
*.log

# local data files (that will eventually
# be stored elsewhere)
hiscores.txt
dev_data/*


# local build environment stuff
*.vs
compile_commands.json
.vscode
