sandbox/*
*.o
*.a
*.d
*.bin
*.cache

# Binaries
build/*

# Local working copies
assets/wip/*
/wip/*
*.xcf

# profiling
logs/*
*.log

# local data files (that will eventually
# be stored elsewhere)
hiscores.txt
